.swiper-container {
    box-shadow: 0px 0px 50px rgba(74, 177, 15, 0.5);
    height: 500px;
    width: 100%;
}

.swiper-button-prev,
.swiper-button-next {
    color: rgb(218, 34, 34);
}

.movie-description {
    background-color: rgba(17, 19, 13, 0.747);
    box-shadow: 0px 0px 20px rgba(74, 177, 15, 0.5);
    bottom: 0;
    padding: 5px 30px;
    position: absolute;
    width: 100%;
}